/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #b2bec3;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

div.vizitka {
  background-color: white;
  width: 550px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #888888;
  padding: 30px;
  margin-top: 150px;
  position: relative;
}

h1 {
  color: #d63031;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
p {
  padding: 0;
  margin: 30px 0;
}

.button {
  width: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: none;
  text-align: center;
  margin: 5px 0;
  padding: 10px;
}

.twitter-button {
  background-color: #1da1f2;
}
.twitter-button:hover {
  background-color: #0b7bc1;
}

.facebook-button {
  background-color: #3b5998;
}

.facebook-button:hover {
  background-color: #2b406e;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  box-shadow: 5px 5px 8px #888888;

  position: absolute;
  right: -75px;
  top: -75px; 
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

/* NOK
- rozestupy mezi H1, p, a
